header{
    display: flex;
    color: black;
    width: 100%;
    height: 7rem;
    background: rgb(17,110,150);

}
.headerContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    height: 7rem;
    margin: 0px auto;
} 
.headerContainer .logoRwap img {
    height: 6.5rem;    
}
.headerContainer .logoRwap , .headerContainer nav, .headerContainer .socialMediaIcons{
    width: 33.33%;
    /* margin:  0 2rem; */
}
.contenedorBotones{
    display: flex;
    justify-content: center;
}
.contenedorBotones li{
    margin: 1rem;
    padding: 1rem;
    border: solid 1px;
}
.contenedorBotones li a{
    text-decoration: none;
    width: inherit;
    height: inherit;
    color: black;
}
