header{
    align-items: center;
    background: rgb(219, 223, 225);
    color: black;
    display: flex;
    height: 10rem;
    width: 100%;

}
.headerContainer{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: inherit;

}
header label:hover{
    cursor: pointer;
}
#btnMenu{
    display:none;   
}
/* Estilo de scroll del menu */

.headerContainer .logoRwap #imgLogo {
    height: 6.5rem;    
}
.headerContainer .logoRwap , .headerContainer nav, .headerContainer .socialMediaIcons{
    width: 33.33%;
    /* margin:  0 2rem; */
}
.contenedorBotones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorBotones li{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: solid 1px rgb(17,110,150);
}
.contenedorBotones li:hover{
    background: rgba(62, 157, 197, 0.663);

}
.contenedorBotones li a{
    text-decoration: none;
    color: black;
}


