.skillTrabajo, .skill{
    padding:1rem 0rem;
    margin: 2rem 0rem;
}
.containerIntro{
    height: 450px;
}
.containerIntro h1{
    margin: 0rem 0rem 5rem 1rem;
    font-weight: 400;
    font-size: 80px;
    padding-top: 2rem;
} 
.containerIntro p{
    margin: 0rem 0rem 1rem 1rem;    
}
.containerIntro p:nth-child(2){
    font-size: 24px;
    font-weight: 400;
}
.containerIntro p:nth-child(3){
    font-size: 20px;
    font-weight: 400;
    opacity: 60%;
}
.containerIntro p:nth-child(4){
    font-weight: 400;
}
.trabajosContainerGrid{
    display: grid;
    grid-template-columns: 50% 35%;
    height: 600px;
    justify-content: center;
    gap:20px; 
}
.trabajosContainerGrid .trabajo img:nth-child(1){
    width: 100%;
    height: 70%;
    grid-column: 1/2;
    margin-bottom: 2rem;
}
.trabajosContainerGrid .trabajo img:nth-child(2){
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    margin-bottom: 2rem;
}
.trabajo{
    text-align: center;
}
.trabajo p:nth-child(2){
    margin: 5px;
    font-size: 25px;
    font-weight: 400;
}
.trabajo p:nth-child(3){
    margin: 5px;
    font-size: 20px;
    font-weight: 500;
    opacity: 65%;
}
/* esilos para la seccion Skill, slider  */
.skillsContainer{

}
.skilTecnoRwap{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.skilTecnoRwap ul{
    display: flex;
    width: 150%;
    animation: slider 30s infinite  alternate;
    animation-timing-function:cubic-bezier(0.08,-0.1, 0.42, 0.23) ;
}
.skilTecnoRwap .skill img{
    width: 100px;
    height: 100px;
}
.skilTecnoRwap .skill{
    width: 100%;
    list-style: none;
}
@keyframes slider{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    35% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -50%;}
    100% { margin-left: -50%;}


}