.scrollMenuContainer{
    transition: all 0.7s;
    background: transparent;
    position:fixed;
    height: 1rem;
    top: 0px;
    left: 0px;
    z-index: 2;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
} 
.scrollIconLabel img {
    transition: all 0.7s;
    display: block;
}
.ScrollContenedorBtn{
    height: 19rem;
    width: 12rem;
    display: none;
    position: absolute;
    top: 55px;
    right: 55px;
    transition: all 0.7s;
    background: rgb(17,110,150);
    flex-direction: column;
    border-radius: 5px;
    border: solid 2px rgb(10, 72, 99);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30),
              0 15px 12px rgba(0,0,0,0.22);
}
header label img{
    transition: all 0.7s;
    display:none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 16px;
    right: 33px;
}
header label:hover{
    cursor: pointer;
}