.presentacion{
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: calc(100vh + -100px);
}
.presentacion__rwap{
    width: 50%;
    padding: 3rem;
    margin: 1rem;
}
.presentacion__img{
    width: 20rem;
    padding: 0.8rem;
    height: 20rem;
    border-radius: 180px;
}